:focus {
    outline: 1px solid #666;
  }
  input[type="text"] {
    margin: 0 0 15px;
    padding: 8px 10px;
    border: 1px solid #d0d1d3;
  }
  button {
    padding: 8px 15px;
    background: #979380;
    color: #fff;
    border: none;
  }
  .col-xs-8 {
    display: inline-block;
}
.col-xs-1.custom-control.custom-checkbox {
  display: inline-block;
}
div#todolist1 {
  display: block;
}

    .input {
        width: 100%;
        padding: 5px;
        margin: 0 0 20px 0;
        border-radius: 5px;
        border: 1px solid #a8aabc;
     }
 
 
    .button {
        display: block;
        width: 50%;
        margin: 0 auto 20px;
        color: #ffffff;
        border: 0;
        box-shadow: none;
        border-radius: 5px;
        background-color: #384878;
    }
  
    .textarea {
        width: 100%;
        height: 150px;
        padding: 5px;;
        border-radius: 5px;
        border: 1px solid #a8aabc;
    }
